  .app-navbar {
    padding: 20px;
    background-color: rgb(52, 58, 64);
    min-height: 88px;
  }

  .app-navbar p {
    font-size: 18px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .contenedor {
    background-image: url(../../../assets/img/coffe-tasks.jpg);
    background-repeat: repeat-y;
    background-size: 100%;

    min-height: 60vh;

    padding: 60px;
  }

  main {

    background-color: rgb(255, 255, 255, 0.8);
    max-width: 800px;
    margin: auto;
    padding: 30px;
  }

  .completada {
    text-decoration: line-through;
  }

  .nueva-tarea {
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px;

    input[type=text] {
      border: 1px solid rgb(128, 128, 128, 0.6);
    }

    button {
      margin-top: 7px;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;

  }

  hr {
    height: 6px;

  }

  .tarea {
    padding-left: 0;

    span {
      display: inline-block;
      background-color: white;
      padding: 5px 8px;
      border: 1px solid rgb(128, 128, 128, 0.6);
      border-radius: 5px;
    }

    input {
      width: 100%;
    }
  }

  .tarea-boton {
    button {
      border: 1px solid rgb(128, 128, 128, 0.6) !important;
    }
  }

  .tarea-check {

    padding-right: 0;


  }

  @media only screen and (max-width: 600px) {

    .contenedor {
      padding: 0;
    }

  }
